html{
  border-left: 5px solid lightgray;
}

body{
  min-height: 100%;
  font-family: sans-serif;
  max-width: 1000px;
  margin: auto;
}

header, main, footer{
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* padding-right: 2rem;
  padding-left: 2rem; */
}

h1{
  color: tomato;
}

img{
  width: 100%;
}

.headerNavBar{
  padding: none;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.headerNavBar a{
  color: lightgray;
}

.footerNavBar{
  padding: none;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.footerNavBar a{
  color: tomato;
}

.articleTitle{
  font-size: larger;
}

article a{
  display: flex;
  justify-content: right;
  font-weight: bold;
  color: tomato;
}

article{
  margin-bottom: 4rem;
  border-bottom: solid lightgray 1px;
  padding-bottom: 2rem;
}

article .articleBody::first-letter{
  font-size: 400%;
  line-height: 85%;
  float: left;
  color: lightgray;
}

.copyright{
  color: lightgray;
}